[Unit]
Description=Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=your_user
WorkingDirectory=/home/your_user/discord-bot
EnvironmentFile=/home/your_user/discord-bot/.env
ExecStart=/home/your_user/python/DiscordBot/Deploy/Linux/run_bot.sh
ExecStart=/home/your_user/discord-bot/Deploy/Linux/run_bot.sh
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
